<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2eehttp://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>helloapp</display-name>

    <welcome-file-list>
        <welcome-file>/page/index.jsp</welcome-file>
    </welcome-file-list>

    <!--主servlet类-->
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.shuzicai.server.MainServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <!--系统初始化配置信息servlet-->
    <servlet>
        <servlet-name>log4jInit</servlet-name>
        <servlet-class>com.shuzicai.server.Log4jInitServlet</servlet-class>
        <init-param>
            <param-name>Log4jFile</param-name>
            <param-value>/WEB-INF/config/log4j.properties</param-value>
        </init-param>
        <init-param>
            <param-name>Log4jFileSavePath</param-name>
            <param-value>/logs</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>log4jInit</servlet-name>
        <url-pattern>/log4j</url-pattern>
    </servlet-mapping>

    <!--主支付servlet类-->
    <servlet>
        <servlet-name>PayServlet</servlet-name>
        <servlet-class>com.shuzicai.server.PayServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>PayServlet</servlet-name>
        <url-pattern>/pay</url-pattern>
    </servlet-mapping>
</web-app>
